


body{
    background-color: #dedede;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#navbar-head{
    background-color: #000;
    div{
        #texto-head{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: 10px;
        }
    }
}

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 34rem;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/wave3.svg);
    background-size: cover;
    position: absolute;
    .container_footer{
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        margin-top: 500px;
    }
    .box_footer{
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
        h2{
            margin-bottom: 30px;
            font-weight: 700;
        }
        a{
            margin-top: 10px;
            text-decoration: none;
            font-weight: 600;
        }
        a:hover{
            opacity: 0.8;
        }
        a .fa-brands{
            font-size: 20px;
        }
        .terms{
            max-width: 350px;
            margin-top: 20px;
        }
        .logo{
            img{
                width: 200px;
            }
        }
    }
    .box_copyrights{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
        p{
            margin-top: 20px;
            color: #ffffff;
        }
        hr{
            color: #ffffff;
        }
    }
}

#trending-items{
    background-image: url(../img/backgroundsection.jpg);
    background-size: cover;
}

.card-title{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 15px;
    font-weight: bold;
}

.card-titles{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.content{
    width: auto;
    margin: 40px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: white;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transform: translate(0px, -8px);
}

h6{
    font-size: 26px;
    text-align: center;
    color: rgb(233, 10, 10);
    margin: 0;
    padding-bottom: 8px;
    font-weight: bold;
}

.card-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    margin-right: 20px;
    li{
        padding: 5px;
    }
}

.fa{
    font-size: 26px;
    transition: .4s;
}

.checked{
    color: rgb(255, 146, 5);
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}

.buy-1{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width:1000px){
    .content{
        width: 45%;
    }
}

@media (max-width:750px){
    .content{
        width: 85%;
    }
}

.offert-menu{
    margin-top: 60px;
    margin-bottom: 60px;
}

.trending-intro{
    margin-left: 50px;
}

.next-games{
    background-image: url(../img/backgroundsection.jpg);
    background-size: cover;
}