body {
  background-color: #dedede;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------MEDIA-QUERYS--------------------------------------------------------------------------------------------------*/
@media (max-width: 1000px) {
  .content {
    width: 35%;
  }

  .offert-menu {
    width: 85%;
  }

  .offert-menus {
    width: 95%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 55%;
  }

  .offert-menu {
    width: 85%;
  }

  .offert-menus {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .content {
    width: 85%;
  }

  .contact-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .offert-menus {
    width: 85%;
  }

  .offert-menu {
    width: 85%;
  }
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------NAVBAR--------------------------------------------------------------------------------------------------*/
#navbar-head {
  background-color: #000;
}
#navbar-head div #texto-head {
  font-family: Impact, Haettenschweiler, "Quicksand", sans-serif;
  margin-top: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------SLIDER--------------------------------------------------------------------------------------------------*/
.carousel-inner {
  max-height: 34rem;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------FOOTER--------------------------------------------------------------------------------------------------*/
footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../img/wave3.svg);
  background-size: cover;
  position: absolute;
}
footer .container_footer {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 500px;
}
footer .box_footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
footer .box_footer h2 {
  margin-bottom: 30px;
  font-weight: 700;
}
footer .box_footer a {
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
}
footer .box_footer a:hover {
  opacity: 0.8;
}
footer .box_footer a .fa-brands {
  font-size: 20px;
}
footer .box_footer .terms {
  max-width: 350px;
  margin-top: 20px;
}
footer .box_footer .logo #logo-foot {
  width: 180px;
}
footer .box_copyrights {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
footer .box_copyrights p {
  margin-top: 20px;
  color: #ffffff;
}
footer .box_copyrights hr {
  color: #ffffff;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------HEADER (TRENDING-GAMES & UPCOMING-GAMES)--------------------------------------------------------------------------------------------------*/
.shop-intro {
  margin-left: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------- (INICIO)--------------------------------------------------------------------------------------------------*/
#trending-items, #next-games {
  background-image: url(../img/backgroundsection3.jpg);
  background-size: cover;
  border-radius: 7px;
}
#trending-items .section, #next-games .section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#trending-items .section .content:hover, #next-games .section .content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -8px);
}
#trending-items .section .content, #next-games .section .content {
  width: auto;
  margin: 40px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: white;
}
#trending-items .section .content .card-title, #next-games .section .content .card-title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 15px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}
#trending-items .section .content .card-titles, #next-games .section .content .card-titles {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}
#trending-items .section .content h6, #next-games .section .content h6 {
  font-size: 24px;
  text-align: center;
  color: rgb(233, 10, 10);
  margin: 0;
  padding-bottom: 8px;
  font-weight: 400;
  font-family: "Signika", sans-serif;
}
#trending-items .section .content .buy-1, #next-games .section .content .buy-1 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#trending-items .section .content .card-list, #next-games .section .content .card-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-right: 20px;
}
#trending-items .section .content .card-list li, #next-games .section .content .card-list li {
  padding: 5px;
}
#trending-items .section .content .card-list li .fa, #next-games .section .content .card-list li .fa {
  font-size: 26px;
  transition: 0.4s;
}
#trending-items .section .content .card-list li .fa-solid, #next-games .section .content .card-list li .fa-solid {
  padding-top: 5px;
  font-size: 20px;
}
#trending-items .section .content .card-list li .checked, #next-games .section .content .card-list li .checked {
  color: rgb(255, 146, 5);
}
#trending-items .section .content .card-list li .fa:hover, #next-games .section .content .card-list li .fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------OFFERT-BANNERS (INICIO)--------------------------------------------------------------------------------------------------*/
.offert-menu {
  padding-top: 60px;
  padding-bottom: 60px;
}

.offert-menus {
  padding-top: 60px;
  padding-bottom: 110px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------CONTACT-FORM--------------------------------------------------------------------------------------------------*/
.container-form {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}
.container-form #logo-form {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 5px;
  text-shadow: 0px 0px 1px black;
}
.container-form .contact-wrap * {
  padding: 1em;
}
.container-form .contact-wrap .contact-form {
  background: #000;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.container-form .contact-wrap .contact-form form {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-form .contact-wrap .contact-form form .block {
  grid-column: 1/3;
}
.container-form .contact-wrap .contact-form form p {
  margin: 0;
  padding: 1em;
}
.container-form .contact-wrap .contact-form form button {
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #d63031;
  border-radius: 2px;
}
.container-form .contact-wrap .contact-form form button:hover {
  background: #d63031;
}
.container-form .contact-wrap .contact-form form textarea, .container-form .contact-wrap .contact-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #d63031;
}/*# sourceMappingURL=styles.css.map */